$bg: #1A1826;
$contrastbg: #22292b;
$bgSecondary: #22292b;
$bgSecondaryAlt: #988BA2;
$fg: #dadada;
$fgDim: #bdc3c2;
$watermelon: #e06e6e;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #22292b;
$red: #F28FAD;
$blue: #96CDFB;
$cyan: #B5E8E0;
$blue-desaturated: #6da4cd;
$magenta: #DDB6F2;
$green: #ABE9B3;
$yellow: #FAE3B0;
$accent: $blue;
$javacafeMagenta: #c47fd5;
$javacafeBlue: #6da4cd;

$flamingo : #F2CDCD;
$mauve : #DDB6F2;
$pink : #F5C2E7;
$maroon : #E8A2AF;
$peach : #F8BD96;
$teal : #B5E9E0;
$sky : #89DCEB;
$purple : #1A1826;

